* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f3e9ff;
}

/* WRAPPER */
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM BOX */
.form-box {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.form-box h2 {
    text-align: center;
    color: #7b2cbf;
    margin-bottom: 20px;
}

/* FORM */
label {
    font-size: 14px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1.5px solid #c77dff;
    outline: none;
}

textarea {
    resize: none;
    height: 60px;
}

/* RADIO */
.radio-group {
    margin: 8px 0 15px;
    font-size: 14px;
}

/* BUTTON */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-daftar {
    background: #7b2cbf;
}

.btn-batal {
    background: #e63946;
}

button:hover {
    opacity: 0.9;
}
